__pycache__/
*.pyc
*.log
data/
*.mp4
*.zip
*.h5
*.csv
node_modules/
frontend/node_modules/.cache/
backend/node_modules/.cache/
*.jar
dist/
build/
*.pack
*.pack_
*.pack.old
*.docx
~$*.docx
*.tmp
.vscode/
